:root {
  /* ширина контенту */
  --sl-content-width: 56rem;

  /* трішки “важчі” заголовки */
  --sl-text-5xl: 3.2rem;
}

/* приклад: комфортніші відступи в кодових блоках */
pre {
  border-radius: 12px;
}